NODE_ENV="development"

APPLICATION_PORT=4000
APPLICATION_URL="http://localhost:${APPLICATION_PORT}"
ALLOWED_ORIGIN="http://localhost:3000"

COOKIES_SECRET="secret"
SESSION_SECRET="secret"
SESSION_NAME="session"
SESSION_DOMAIN="localhost"
SESSION_MAX_AGE="30d"
SESSION_HTTP_ONLY=true
SESSION_SECURE=false
SESSION_FOLDER="sessions:"

POSTGRES_USER="root"
POSTGRES_PASSWORD="123456"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5433
POSTGRES_DB="auth"
POSTGRES_URI="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

REDIS_USER="default"
REDIS_PASSWORD="pass123456"
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_URI="redis://${REDIS_USER}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}"

MAIL_HOST="you_host"
MAIL_PORT=123456
MAIL_LOGIN="name@example.com"
MAIL_PASSWORD="you_password"

GOOGLE_RECAPTCHA_SECRET_KEY="you_secret_key"

GOOGLE_CLIENT_ID="you_client_id_in_google"
GOOGLE_CLIENT_SECRET="you_client_secret_in_google"
YANDEX_CLIENT_ID="you_client_id_in_yandex"
YANDEX_CLIENT_SECRET="you_client_secret_in_yandex"